{% extends 'ShopSiteBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
            <h1>Простой магазин</h1>
            <h2>Тренировочный проект на Symfony2</h2>

            <div class="container-fluid blog-article-box">
                <p>Стартовая страница проекта</p>
            </div>


{% endblock content %}
