shop_store_admin:
    path:  /
    defaults: { _controller: ShopStoreBundle:Store:index }

shop_store_property_create:
    path:  /property/create/
    defaults: { _controller: ShopStoreBundle:property:create }
shop_store_property_edit:
    path:  /property/edit/{id}
    defaults: { _controller: ShopStoreBundle:property:edit }
    requirements:
      id: \d+

#shop_store_property:
#    path: /property/
#    defaults: { _controller: ShopStoreBundle:property:index }

shop_store_property:
    path:  /property/{page}/
    defaults: { _controller: ShopStoreBundle:property:index }

shop_store_propertyValues:
    path:  /property_values/{id_property}/{page}
    defaults: { _controller: ShopStoreBundle:property:indexpropertyValues }
    requirements:
      id_property: \d+
      page: \d+

shop_store_propertyValues_create:
    path:  /propertyValues/create/{id_property}
    defaults: { _controller: ShopStoreBundle:property:createpropertyValues }
    requirements:
      id_property: \d+

shop_store_propertyValues_edit:
    path:  /propertyValues/edit/{id_value_property}/{page}
    defaults: { _controller: ShopStoreBundle:property:editpropertyValues }
    requirements:
      id_value_property: \d+
      page: \d+

shop_store_propertyValues_up:
    path:  /propertyValues/up/{id}/{page}
    defaults: { _controller: ShopStoreBundle:property:uppropertyValues }
    requirements:
      id: \d+
      page: \d+

shop_store_propertyValues_down:
    path:  /propertyValues/down/{id}/{page}
    defaults: { _controller: ShopStoreBundle:property:downpropertyValues }
    requirements:
      id: \d+
      page: \d+
