shop_store_admin:
    path:  /
    defaults: { _controller: ShopStoreBundle:Store:index }

shop_store_Property_create:
    path:  /Property/create/
    defaults: { _controller: ShopStoreBundle:Property:create }
shop_store_Property_edit:
    path:  /Property/edit/{id}
    defaults: { _controller: ShopStoreBundle:Property:edit }
    requirements:
      id: \d+
shop_store_Property:
    path:  /property/
    defaults: { _controller: ShopStoreBundle:Property:index }

shop_store_PropertyValues:
    path:  /property_values/{id_property}
    defaults: { _controller: ShopStoreBundle:Property:indexPropertyValues }
    requirements:
      id_property: \d+

shop_store_PropertyValues_create:
    path:  /PropertyValues/create/{id_Property}
    defaults: { _controller: ShopStoreBundle:Property:createPropertyValues }
    requirements:
      id_Property: \d+

shop_store_PropertyValues_edit:
    path:  /PropertyValues/edit/{id_value_Property}
    defaults: { _controller: ShopStoreBundle:Property:editPropertyValues }
    requirements:
      id_value_Property: \d+

shop_store_PropertyValues_up:
    path:  /PropertyValues/up/{id}/{id_old}
    defaults: { _controller: ShopStoreBundle:Property:upPropertyValues }
    requirements:
      id: \d+
      id_old: \d+

shop_store_PropertyValues_down:
    path:  /PropertyValues/down/{id}/{id_old}
    defaults: { _controller: ShopStoreBundle:Property:downPropertyValues }
    requirements:
      id: \d+
      id_old: \d+
