<div id="topmenuwrap" class="gainlayout">
    <div id="topmenu" class="gainlayout">
        <div class="moduletable">
            <h3>Верхнее меню</h3>
            <ul class="nav menu">
                <li class="item-101 current active"><a href="http://zolotoi-chai.ru/">Главная</a></li>
                <li class="item-124"><a href="http://zolotoi-chai.ru/about-us.html">О нас</a></li>
                <li class="item-113"><a href="http://zolotoi-chai.ru/produkty.html">Продукция</a></li>
                <li class="item-134 deeper parent"><a href="http://zolotoi-chai.ru/galery.html">Галерея</a>
                    <ul class="nav-child unstyled small">
                        <li class="item-121"><a href="http://zolotoi-chai.ru/galery/photoalbums.html">Фото-материалы</a></li>
                        <li class="item-123"><a href="http://zolotoi-chai.ru/galery/video.html">Видео-материалы</a></li>
                    </ul>
                </li><
                li class="item-125"><a href="http://zolotoi-chai.ru/shipping.html">Доставка</a></li>
                <li class="item-126"><a href="http://zolotoi-chai.ru/optovikam.html">Оптовикам</a></li>
                <li class="item-127"><a href="http://zolotoi-chai.ru/contacts.html">Контакты</a></li>
                <li class="item-132"><a href="http://zolotoi-chai.ru/license.html">Лицензия</a></li>
            </ul>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
