{% extends 'ShopSiteBundle::layout.html.twig' %}

{% set breadcrumbs = '<span>О сайте</span>' %}

{% block content %}
    {{ parent() }}
    <div class="item-page">
        <h2> О нас</h2>
        <dl class="article-info">
            <dt class="article-info-term">Подробности</dt>
            <dd class="category-name">
                Категория: <a href="/about-us/9-company.html">Компания</a>	</dd>
            <dd class="published">        Опубликовано: 03.04.2013 05:52		</dd>
        </dl>
        <h2 style="text-align: center;" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: medium; color: #201e47;"><strong>Идея создания...</strong></span></h2>
        <h2 style="text-align: justify;" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;">Идея создания нашей компании родилась осенью 2012 г. В феврале 2013 г. было решено создать интернет-магазин по продаже Иван-Чая. Мы остановились на названии «Золотой Иван-Чай», прежде всего потому, что чай обладает поистине целебными свойствами, и в нашем Отечестве они пока неоценимы. В советское время в местечке под Санкт-Петербургом была открыта лаборатория по изучению такого растения как кипрей (иван-чай), задача исследователей состояла в том, чтобы выявить особенности иван-чая, разработать наиболее действенный по силе на организм человека напиток и использовать его для укрепления здоровья населения. Во время Второй Мировой Войны одна из целей немецко-фашисткого командования была заключена в плане уничтожения секретной лаборатории СССР под кодовым названием «Река Жизни». В дальнейшем производство иван-чая начинает медленными темпами восстанавливаться на территории Российской Федерации. На сегодняшний день становится понятным, насколько важно то, какие продукты питания мы употребляем в пищу. И почему то природное, что дано человеку на планете Земля – настоящий «Золотой» кладезь сокровищ.</span></h2>
        <p style="text-align: center;"><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"> </span></p>
        <h2 style="text-align: center;" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: medium; color: #201e47;"><strong>Кто же мы?</strong></span></h2>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;">Мы – группа молодых специалистов различных областей, объединившихся по многим причинам. Одна из них, и самая главная – это наше общее желание, чтобы Родина, которая взрастила нас, процветала и люди, живущие в России, были счастливыми и здоровыми.</span></p>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"> </span></p>
        <h2 style="text-align: center;" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: medium; color: #201e47;"><strong>В чем наше отличие?</strong></span></h2>
        <h2 style="text-align: justify;" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;">Основу нашей деятельности составляет  желание служить людям. Что входит в это понятие?</span></h2>
        <p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>Во-первых</strong>, это наша ответственность за качество произведенной продукции. И ответственность за сервис.</span></p>
        <p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>Во-вторых</strong>, это привнесение в жизнь людей полезного нового: продукции отличающейся целительными свойствами, которая позволяет укрепить здоровье и духовные силы человека.</span></p>
        <p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>В-третьих</strong>, наше миропонимание являет устройство жизни нашей организации. Мы пытаемся понять друг друга, несмотря на то, что подчас наши точки зрения не совпадают, мы можем выслушать и помочь своим друзьям по делу. Наша организация больше похожа на общину, в которой нет места пересудам, а есть место – делу и доброте. Так в чём же наше отличие? Мы любим своё дело, мы любим мир и людей, и рады тому, что иван-чай приносит пользу людям, и способствует укреплению их здоровья.</span></p>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"> </span></p>
        <h2 style="text-align: center;" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: medium; color: #201e47;"><strong>В чем отличие нашей чайной продукции от других поставщиков чая?</strong></span></h2>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;">Мы разработали новый рецепт изготовления иван-чая, и некоторыми особенными пунктами изготовления хотели бы поделиться. Это и будет основным отличием нашей продукции.</span></p>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>П<strong>ервое</strong></strong> – ручной сбор.</span></p>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>В<strong>торое</strong></strong> – при обработке чайных листьев не происходит соприкосновения с металлом.     <br /></span></p>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>Третье <span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;">–</span> </strong> чайный лист обрабатывается под температурой не выше 50°C.</span></p>
        <p><span style="font-family: arial,helvetica,sans-serif; font-size: small; color: #201e47;"><strong>Четвертое</strong> – отличием нашего российского иван-чая от заморского является отсутствие в нем кофеина.</span></p>
     </div>
{% endblock content %}
