{% extends 'ShopSiteBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="blog-featured">
        <h1>Главная</h1>
        <div class="items-leading">
            <div class="leading-0">
                <ul class="actions">
                    <li class="print-icon">
                        <a href="http://zolotoi-chai.ru/ivan-chajnyj-sbor.html?tmpl=component&amp;print=1&amp;page=" title="Печать" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><span class="icon-print"></span>&nbsp;Печать&nbsp;</a>		</li>
                    <li class="email-icon">
                        <a href="http://zolotoi-chai.ru/component/mailto/?tmpl=component&amp;template=eco-tea&amp;link=3a6740f4977e1ef57add3b1516f855bc223dfa82" title="E-mail" onclick="window.open(this.href,'win2','width=400,height=350,menubar=yes,resizable=yes'); return false;"><span class="icon-envelope"></span> E-mail</a>		</li>

                </ul>


                <h2 class="contentheading">
                    <a href="http://zolotoi-chai.ru/ivan-chajnyj-sbor.html">
                        Иван-чайный сбор</a>
                </h2>





                <dl class="article-info">
                    <dt class="article-info-term">Подробности</dt>
                    <dd class="category-name">
                        Категория: <a href="http://zolotoi-chai.ru/8-articles.html">Статьи</a>						</dd>
                    <dd class="published">
                        Опубликовано: 14.06.2013 08:00		</dd>
                </dl>


                <p><span style="font-family: arial,helvetica,sans-serif; font-size: small;">Установлено,
     что в чистом виде, без добавок, иван-чай способствует укреплению
    иммунитета, оказывает благотворное влияние на работу эндокринной
    системы, снимает головную боль, приводит в норму артериальное давление и
     даже препятствует образованию опухолей.</span></p>

                <p class="readmore">
                    <a href="http://zolotoi-chai.ru/ivan-chajnyj-sbor.html">
                        Подробнее: Иван-чайный сбор</a>
                </p>


                <div class="item-separator"></div>
            </div>
        </div>
    </div>

{% endblock content %}
