{% extends 'ShopStoreBundle::layout.html.twig' %}

{% block admin_content %}
    <form action="{{ path('shop_store_propertyValues_create',{'id_property': id_property}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

    </form>
{% endblock admin_content %}
