{% extends 'ShopStoreBundle::layout.html.twig' %}

{% block admin_content %}
    <form action="{{ path('shop_store_Property_edit',{'id': id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

    </form>
{% endblock admin_content %}
